.avatar-cropper {
	.cropper-container {
		max-width: 100%;
		button {
			margin-right: 20px;
		}
	}
	.preview-container {
		display: block;
		> img {
			height: 200px;
			width: auto;
		}
		button {
			display: block;
		}
	}
}
